@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  
  --color-primary: #0D9488;
  --color-secondary: #7C3AED;
  --color-accent: #F59E0B;
  --color-neutral: #3D4451;
  --color-base-100: #ffffff; /* DaisyUI er standard background variable */
}


@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #2DD4BF;
  --color-secondary: #A78BFA;
  --color-accent: #FBBF24;
  --color-neutral: #e5e7eb;
  --color-base-100: #0f172a;
}


@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));